.booking-root {
  min-height: 100vh;
  background: #15151a;
  color: #FFD95B;
  font-family: 'Merriweather', serif;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.booking-header {
  padding: 3rem 1.5rem 1.2rem 1.5rem;
  text-align: center;
  background: linear-gradient(180deg,rgba(18,18,18,0.97) 0,rgba(26,18,44,0.83) 100%);
}

.booking-title {
  font-family: 'Cinzel', serif;
  font-size: 2.5rem;
  color: #FFD95B;
  font-weight: 700;
  margin-bottom: 0.3rem;
  text-shadow: 1px 1px 13px #D4AF3750;
}

.booking-desc {
  color: #f4e9b6;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
